.card {
    padding-bottom: 15px; /* Adjust this value as needed */
}

.card-body {
    padding-bottom: 50px; /* Adjust this value as needed */
}
.btn-green {
    background-color: #28a745; /* Bootstrap's 'success' green */
    color: white; /* White text color */
    /* Add other button styling as needed */
}

.founding-story-card {
    background: #f8f9fa;
    /* Light grey background */
    border: none;
    /* Removes the default card border */
    border-radius: 0.5rem;
    /* Slightly rounded corners for the card */
  }