.card {
    padding-bottom: 15px; 
}

.card-body {
    padding-bottom: 50px; 
}
.btn-green {
    background-color: #28a745; 
    color: white; 
}

.founding-story-card {
    background: #f8f9fa;
    border: none;
    border-radius: 0.5rem;
  }