body {
    background-color: #fff5e6;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #0D6EFD;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
    padding-top: 200px;
}

.available-rentals-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
    text-align: center;
}

.card {
    background-color: #ffeedd;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #555;
    text-align: center;
}

.btn-outline-secondary {
    border-color: #ffffff;
    color: #04ff00;
}

.btn-outline-secondary:hover {
    background-color: #fbfcff;
    color: white;
}

.text-warning {
    color: #ffcc00;
}

.text-secondary {
    color: #ddd;
}

.pe-md-2,
.ps-md-2 {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.footer .fa {
    font-size: 24px;
    margin-right: 8px;
    color: #333;
    background-color: #0D6EFD;
}
.star {
    cursor: pointer;
    color: #ddd;
}
.star.rated {
    color: #ffc107;
}
.main-content {
    flex: 1;
    padding-bottom: 3rem;
}
.card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-body .col-md-4,
.card-body .col-md-8 {
    flex: 1;
}

.custom-bg-color {
    background-color: #3590F3;
    transition: background-color 0.3s ease;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    height: 30px;
    display: inline;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.custom-bg-color:hover {
    background-color: #3590F3;
}