
.container{
text-align: center;

}
body {
    font-family: 'Roboto', sans-serif;
  }

  .founding-story-card {
    background: #f8f9fa;
    /* Light grey background */
    border: none;
    /* Removes the default card border */
    border-radius: 0.5rem;
    /* Slightly rounded corners for the card */
  }

  .founding-story-card .card-body {
    padding: 2rem;
    /* Spacious padding for the card content */
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }