#messageContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightblue;
  padding: 20px;
  border-radius: 8px;
  display: none; 
  z-index: 1000; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center; 
  max-width: 80%; 
  word-wrap: break-word;
}

.container{
text-align: center;

}
body {
    font-family: 'Roboto', sans-serif;
  }

  .founding-story-card {
    background: #f8f9fa;
    border: none;
    border-radius: 0.5rem;
  }

  .founding-story-card .card-body {
    padding: 2rem;
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }